Paper to Blog Article.json
{
  "name": "Paper to Blog Article",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $input.all().length }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    },
                    "id": "9ca3c566-4222-4f04-8f7a-53905212265f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Paper gefunden"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5f928ef1-de1c-4891-9681-2190b23cdfab",
                    "leftValue": "={{ $input.all().length }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Keine Papers gefunden"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -320,
        176
      ],
      "id": "f376c51b-f071-4b45-87c8-d16c18b4057a",
      "name": "Switch"
    },
    {
      "parameters": {
        "bucketName": "paper-store",
        "fileKey": "={{ $json.pmid }}.pdf"
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        -64,
        176
      ],
      "id": "b03be4e0-e150-4567-be7f-e2a0d8d8f304",
      "name": "Download a file",
      "credentials": {
        "s3": {
          "id": "lXbGUFRjp6Yya8kj",
          "name": "Strato S3 Images"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        96,
        176
      ],
      "id": "0617e329-f452-4675-9278-bea81fd5512e",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -96,
        384
      ],
      "id": "f7706a6e-8f40-406f-a263-d1537142721d",
      "name": "Wait",
      "webhookId": "a6bc83e6-f697-4b8c-8da2-3a3e0daacf16"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -768,
        176
      ],
      "id": "c418802d-b65e-48a5-ac9d-e978edb0f737",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://paper-backend:4242/rated-papers/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"min_rating\": 6.1,\n  \"content_status\": \"idee\",\n  \"category_keywords\": [\n    \"Solide Grundlage\", \n    \"Content-Gold\", \n    \"Interessanter Ansatz\"\n  ],\n  \"limit\": 1\n}",
        "options": {}
      },
      "id": "d5e8c10e-1118-4b71-836d-ddd56047e148",
      "name": "1. Get Rated Paper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -512,
        176
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "ijgx3lz1xx4Q9zxn",
          "name": "Bearer Auth account"
        },
        "httpHeaderAuth": {
          "id": "RTzRC0AggRABuRdo",
          "name": "Auth Header Paper Backend API KEY"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=🎯 **SCIENCE-TO-PEOPLE TRANSLATOR MIT REFERENZ-BEWAHRUNG** 🎯\n\n🚨 **KRITISCHE ANFORDERUNG - REFERENZEN MÜSSEN 100% ERHALTEN BLEIBEN!** 🚨\n- JEDE wissenschaftliche Aussage MUSS mit der Originalreferenz belegt werden: (Autor et al., Jahr)\n- ALLE Referenzen aus dem Originaltext müssen übernommen werden\n\n**ZIELGRUPPE & KONTEXT:**\nSchreibe für Menschen, die:\n- Gesundheitsthemen aus Zeitschriften/TV kennen\n- Neugierig sind, aber keine medizinische Ausbildung haben\n- Komplexe Zusammenhänge verstehen wollen, aber in ihrer Sprache\n- Einen Glossar zur Verfügung haben für Fachbegriffe\n\n**VERSTÄNDLICHKEITS-PRINZIPIEN:**\n\n🧠 **COGNITIVE LOAD MANAGEMENT:**\n- Pro Absatz maximal 1-2 neue Konzepte einführen\n- Komplexe Ideen in verdaubare Häppchen aufteilen\n- Baue auf bereits erklärten Konzepten auf\n\n🔗 **STRATEGIC TERM USAGE:**\n- **Unvermeidliche Fachbegriffe:** Führe sie mit sofortiger Übersetzung ein\n  Format: \"Neuroinflammation - das ist der Fachbegriff für Entzündungen im Gehirn\"\n- **Wiederholung:** Nutze danach die einfache Version\n- **Glossar-Ready:** Markiere wichtige Begriffe für den Glossar\n\n🖼️ **ANALOGIE-DRIVEN EXPLANATION:**\n- Jeder komplexe Prozess braucht einen Alltagsvergleich\n- Nutze bekannte Systeme: Hausbau, Verkehr, Küche, Sport\n- Emotionale Verbindung: \"Stellen Sie sich vor...\"\n\n📖 **NARRATIVE STRUCTURE:**\n- Erzähle eine Geschichte, keine Faktenliste\n- Problem → Lösung → Hoffnung\n- Persönliche Relevanz: \"Was bedeutet das für Sie?\"\n\n**AUFGABE:**\nVerwandle das wissenschaftliche Paper in einen Artikel, der:\n- **Wissenschaftlich korrekt** bleibt (alle Originalreferenzen!)\n- **Emotional ansprechend** ist (Geschichten, Bilder)\n- **Kognitiv zugänglich** ist (schrittweise Erklärung)\n- **Praktisch relevant** ist (\"Was heißt das für mich?\")\n\n**ORIGINALTEXT:**\nTitel: {{ $json.metadata['dc:title'] }}\nSubstanz: {{ $('1. Get Rated Paper').item.json.substance }}\n\n{{ $json.text }}\n\n---\n\n🎯 **SUCCESS METRICS:**\n- Würde ein interessierter Laie bis zum Ende lesen?\n- Kann er danach das Konzept einem Freund erklären?\n- Sind alle wissenschaftlichen Claims referenziert?\n- Fühlt sich der Leser informiert UND inspiriert?\n",
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        416,
        160
      ],
      "id": "a0c11a8d-c2cd-41b2-8eb0-22031d6782d0",
      "name": "Fachanalyse"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        464,
        416
      ],
      "id": "2aeb6d1a-25bc-42ff-ad62-c405f1b31954",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "1HL55XZtq3JLgfHk",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=❤️ **EMPATHIE & QUALITÄT: Referenzen bewahren, Ton verbessern** ❤️\n\n🚨 **KRITISCHER FEHLER-SCHUTZ: ALLE (Autor et al., Jahr) REFERENZEN MÜSSEN EXAKT ÜBERNOMMEN WERDEN!** 🚨\n\n**DOPPEL-MISSION:**\n1. 🔍 **Qualitätskontrolle:** Verständlichkeit + wissenschaftliche Korrektheit\n2. ❤️ **Empathie-Optimierung:** Respektvolle, hoffnungsvolle Sprache\n\n**❌ DU DARFST NIEMALS:**\n- Referenzen entfernen, verkürzen oder \"zusammenfassen\"\n- Text komplett umschreiben\n- Wissenschaftliche Belege durch eigene Formulierungen ersetzen\n- Meta-Texte oder Analysen schreiben\n\n**✅ QUALITÄTSKONTROLLE & VERBESSERUNGEN:**\n\n🧠 **Verständlichkeits-Check:**\n- Würde ein Realschüler den Text verstehen?\n- Sind alle Fachbegriffe erklärt oder durch einfache Begriffe ersetzt?\n- Funktionieren die Alltagsvergleiche?\n- Ist der Lesefluss gut?\n\n📚 **Wissenschafts-Integrität:**\n- JEDE EINZELNE (Autor et al., Jahr) Referenz aus dem Input bewahren\n- Alle wichtigen Aussagen müssen referenziert bleiben\n- Keine wissenschaftlichen Claims ohne Beleg\n\n💬 **Empathische Sprach-Anpassungen:**\n- **Sanfter Ton:** \"könnte helfen\" statt \"hilft\"\n- **Vorsichtige Aussagen:** \"Studien deuten darauf hin\" statt \"beweist\"\n- **Hoffnungsvolle Perspektive:** \"vielversprechend\" statt \"revolutionär\"\n- **Ehrliche Grenzen:** \"Forscher arbeiten daran\" bei Limitationen\n- **Angstfreie Sprache:** Fokus auf Möglichkeiten, nicht Probleme\n\n🤝 **Vertrauensaufbau:**\n- Transparenz über Forschungsstand\n- Ehrlichkeit über noch offene Fragen\n- \"Was bedeutet das für Sie?\"-Perspektive\n- Empfehlung für professionelle Beratung bei medizinischen Fragen\n\n**EINGABETEXT VOM FACHANALYSE-AGENT:**\n{{ $('Fachanalyse').item.json.output }}\n\n**ORIGINAL-PAPER ZUR REFERENZ-VALIDIERUNG:**\n{{ $('Extract from File').item.json.text }}\n\n---\n\n⚠️ **PRE-FLIGHT CHECKLISTE (PFLICHT VOR ANTWORT!):**\n□ Sind ALLE (Autor et al., Jahr) aus dem Input übernommen?\n□ Ist der Text verständlicher geworden?\n□ Ist der Ton empathischer und hoffnungsvoller?\n□ Habe ich keine wissenschaftlichen Aussagen ohne Beleg gemacht?\n□ Antworte ich direkt mit dem Artikel (keine Meta-Beschreibung)?\n□ Würde sich ein Patient nach dem Lesen ermutigt fühlen?\n\n**ANTWORT-FORMAT:**\n# [Original-Überschrift beibehalten]\n\n[Optimierter Text mit allen Referenzen + empathische Formulierungen...]\n\n❌ **NIEMALS weglassen:** (Autor et al., Jahr) Referenzen\n✅ **IMMER:** Wissenschaft + Empathie + Verständlichkeit = Perfektion\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        704,
        160
      ],
      "id": "e6bbd693-179f-4c68-b937-7707b7e48a86",
      "name": "Stil und Ethik"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=**BLOG-ARTIKEL + QUELLENVERZEICHNIS - DIREKTE AUSGABE**\n\n**AUFGABE:** Erstelle den finalen Blog-Artikel mit vollständigem Quellenverzeichnis - KEINE Erklärungen!\n\n**EINGABEN:**\n1. **BLOG-ARTIKEL:** {{ $('SEO').item.json.output }}  \n2. **EXTRAHIERTE REFERENZEN:** {{ $('Literatur-Extraktor').item.json.output }}\n\n**PROCESS:**\n1. Nimm den Blog-Artikel komplett (1:1)\n2. Füge am Ende \"## Quellen\" hinzu\n3. Liste alle Referenzen alphabetisch auf\n\n**WICHTIG:**\n❌ KEINE Meta-Texte (\"Mission verstanden\", \"Optimiert\", etc.)\n❌ KEINE Erklärungen zum Prozess  \n❌ KEINE SEO-Analysen\n❌ KEINE internen Kommentare\n❌ Text NICHT kürzen oder ändern\n\n**OUTPUT-FORMAT:**\n\n[KOMPLETTER BLOG-ARTIKEL]\n\n## Quellen\n\n[Alphabetisch sortierte Referenzen]\n\n**Das war's - mehr nicht!",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        1344,
        160
      ],
      "id": "12dd00d1-b96a-44ae-9e7a-579e8724da1c",
      "name": "Zitation und Formatierung"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=**CLEAN SEO OPTIMIZER - DIREKTE AUSGABE**\n\n**AUFGABE:** Optimiere den Blog-Artikel für SEO, aber gib NUR den fertigen Artikel aus - KEINE Erklärungen, KEINE Meta-Analysen!\n\n**SUBSTANZ:** {{ $('1. Get Rated Paper').item.json.substance }}\n\n**SEO-REGELN:**\n✅ Titel SEO-optimieren (max 60 Zeichen)\n✅ H2-Headlines als Fragen formulieren\n✅ Kernsubstanz natürlich in Headlines einbauen  \n✅ FAQ-Sektion für häufige Suchfragen\n✅ Logische H1→H2→H3 Struktur\n✅ Keywords natürlich einbauen (niemals stuffing!)\n\n**WICHTIG:**\n❌ KEINE Wiederholung von Grundlagen zu {{ $('1. Get Rated Paper').item.json.substance }}\n❌ KEINE \"Was ist [Substanz]\" Erklärungen  \n❌ KEINE Meta-Texte (\"Mission verstanden\", \"Optimierter Artikel\")\n❌ KEINE SEO-Analysen im Output\n❌ KEINE internen Kommentare\n\n**INPUT:** {{ $('Stil und Ethik').item.json.output }}\n\n**OUTPUT:** Nur der SEO-optimierte Blog-Artikel ohne jegliche Zusatztexte!\n",
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        1024,
        160
      ],
      "id": "4d350a79-8be5-41a1-a71a-bd17a9b79fcf",
      "name": "SEO"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1072,
        384
      ],
      "id": "13157faf-6597-48cb-8cc3-91908650650e",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "1HL55XZtq3JLgfHk",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Du bist ein erfahrener KI-basierter Review-Agent für medizinische Laienblogs.\n\nBewerte den folgenden Text anhand dieser Kriterien:  \n- Inhaltliche Genauigkeit und Fachlichkeit  \n- Klarheit und Verständlichkeit für Laien  \n- Vertrauenswürdigkeit der Aussagen und Quellenangaben  \n- Ethische Sensibilität und angemessene Sprache  \n- Logische Struktur und Kohärenz  \n- Vollständigkeit hinsichtlich des Themas  \n\nGib eine Bewertung von 1 (sehr schlecht) bis 5 (sehr gut) für jede Kategorie ab.  \nFasse die Stärken zusammen, identifiziere Schwächen und mache konkrete Verbesserungsvorschläge.\n\nHier ist der zu bewertende Text:  \n {{ $json.output }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        1664,
        160
      ],
      "id": "bb6ce527-11f4-4755-b9bf-3b65fa80557d",
      "name": "Reviewer"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://paper-backend:4242/citations/extract-for-n8n",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-KEY",
              "value": "={{ $vars.API_SECRET_KEY || 'your-api-key' }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $('Extract from File').item.json.text }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        400,
        -112
      ],
      "id": "f9889a53-f597-4c5a-9495-7008d689d921",
      "name": "Literatur-Extraktor",
      "credentials": {
        "httpHeaderAuth": {
          "id": "RTzRC0AggRABuRdo",
          "name": "Auth Header Paper Backend API KEY"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1344,
        304
      ],
      "id": "0fd3cf73-34d6-4600-9fae-dc8e9587dae3",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "3cCxI0mg4H4cQ4RJ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        1664,
        320
      ],
      "id": "cbbc9c8f-5f2d-4a1b-b0ad-51b65ca36875",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "hVTSoZEFwzOn6mn1",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-opus-4-20250514",
          "mode": "list",
          "cachedResultName": "Claude Opus 4"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        416,
        304
      ],
      "id": "ed5837e5-0c0e-4a7e-b89b-8d35bd8ec681",
      "name": "Opus 4 - Literatur",
      "credentials": {
        "anthropicApi": {
          "id": "MHN2Ln3RYoKNIoDn",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-opus-4-20250514",
          "mode": "list",
          "cachedResultName": "Claude Opus 4"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        704,
        304
      ],
      "id": "1a375766-0653-4bb4-a6ab-795c4bdc02cb",
      "name": "Opus 4 - Ethik",
      "credentials": {
        "anthropicApi": {
          "id": "MHN2Ln3RYoKNIoDn",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1024,
        288
      ],
      "id": "e954bf31-ad13-4e80-9562-5e3fb5038152",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "3cCxI0mg4H4cQ4RJ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Download a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download a file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Fachanalyse",
            "type": "main",
            "index": 0
          },
          {
            "node": "Literatur-Extraktor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "1. Get Rated Paper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "1. Get Rated Paper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Get Rated Paper": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fachanalyse": {
      "main": [
        [
          {
            "node": "Stil und Ethik",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Fachanalyse",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Stil und Ethik": {
      "main": [
        [
          {
            "node": "SEO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEO": {
      "main": [
        [
          {
            "node": "Zitation und Formatierung",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zitation und Formatierung": {
      "main": [
        [
          {
            "node": "Reviewer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "SEO",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Literatur-Extraktor": {
      "main": [
        [
          {
            "node": "Zitation und Formatierung",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Zitation und Formatierung",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Reviewer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Opus 4 - Literatur": {
      "ai_languageModel": [
        [
          {
            "node": "Fachanalyse",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Opus 4 - Ethik": {
      "ai_languageModel": [
        [
          {
            "node": "Stil und Ethik",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "SEO",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c4e7c95c-cb74-4031-a1c9-bbeeb61ab0e2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e29847cb0d85386a381a01c77c5a370e3c3dcd4f4ebcacf20107c8e6e234123a"
  },
  "id": "pJgVGVvucGTnj6Af",
  "tags": []
}