rate Paper Workflow.json
{
    "name": "Paper Rating Workflow",
    "nodes": [
      {
        "parameters": {
          "method": "POST",
          "url": "http://paper-backend:4242/papers/query",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "{\n    \"substance\": \"curcumin\",\n    \"transfer_n8n\": false,\n    \"limit\": 1,\n    \"cloud_stored\": true,\n    \"no_pdf_found\": false\n}",
          "options": {}
        },
        "id": "4cc4b37b-be64-4b9c-a95f-9962f06d4bf9",
        "name": "1. Get Raw Paper",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          -1696,
          -96
        ],
        "credentials": {
          "httpBearerAuth": {
            "id": "ijgx3lz1xx4Q9zxn",
            "name": "Bearer Auth account"
          },
          "httpHeaderAuth": {
            "id": "RTzRC0AggRABuRdo",
            "name": "Auth Header Paper Backend API KEY"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "o4-mini",
            "mode": "list",
            "cachedResultName": "o4-mini"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          -912,
          160
        ],
        "id": "c104f8da-9774-4ab5-9e64-768c04b5e10c",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "1HL55XZtq3JLgfHk",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
        "typeVersion": 1,
        "position": [
          -768,
          176
        ],
        "id": "ffd7f487-587a-4b95-a91f-be9481b567b6",
        "name": "DeepSeek Chat Model",
        "credentials": {
          "deepSeekApi": {
            "id": "hVTSoZEFwzOn6mn1",
            "name": "DeepSeek account"
          }
        }
      },
      {
        "parameters": {
          "text": "=Du bist ein extrem erfahrener und kritischer Chefredakteur eines renommierten Wissenschaftsmagazins. Deine Aufgabe ist es, die Arbeit eines Junior-Analysten (einer KI) zu überprüfen und eine finale Freigabeentscheidung zu treffen.\n\nDir liegen zwei Dokumente vor:\n1.  Der Originaltext eines wissenschaftlichen Papers.\n2.  Die JSON-Analyse, die der Junior-Analyst zu diesem Paper erstellt hat.\n\n**Deine Aufgabe:**\nBewerte die Qualität der JSON-Analyse basierend auf dem Originaltext. Ist die Analyse akkurat, kritisch und objektiv?\n\nBeantworte die folgenden Fragen in deiner Bewertung:\n\n1.  **Korrektheit der Zusammenfassung (`ai_summary`):** Spiegelt die Zusammenfassung die Kernaussage und die Ergebnisse des Papers korrekt wider, oder ist sie beschönigend oder irreführend?\n2.  **Validität der Kernaussagen (`key_findings`):** Sind die extrahierten Kernaussagen wirklich die wichtigsten Ergebnisse der Studie? Sind sie durch die Daten im Paper gedeckt?\n3.  **Kritisches Urteilsvermögen (`study_strengths` & `study_limitations`):** Hat der Analyst die wichtigsten Stärken und Schwächen der Studie erkannt? Hat er offensichtliche Interessenkonflikte (z.B. Finanzierung durch Hersteller) oder methodische Mängel übersehen?\n4.  **Angemessenheit des Ratings (`rating` & `confidence_score`):** Ist die numerische Bewertung (1-10) im Lichte der Limitationen der Studie gerechtfertigt? Oder ist sie zu hoch oder zu niedrig angesetzt?\n\n**Dein Output:**\nGib eine kurze, prägnante Bewertung in Prosa ab und schließe mit einer klaren Empfehlung.\n\n---\n**Originaltext des Papers:**\n\"\"\"\n{{ HIER DEN URSPRÜNGLICHEN PDF-TEXT EINFÜGEN }}\n\"\"\"\n\n---\n**JSON-Analyse des Junior-Analysten:**\n\"\"\"\n{{ HIER DAS JSON-OBJEKT DES VORHERIGEN SCHRITTS EINFÜGEN }}\n\"\"\"\n\n---\n**Deine finale Bewertung und Empfehlung:**",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agentTool",
        "typeVersion": 2.2,
        "position": [
          -672,
          256
        ],
        "id": "648b3210-0bab-4787-add6-1c6692a5d312",
        "name": "AI evaluation Agent"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=### ROLLE UND ZIELSETZUNG ###\nDu bist der Chief Science Officer & Head of Content für ein angesehenes, evidenzbasiertes Portal für Nahrungsergänzungsmittel. Deine L  Du bist ein hochqualifizierter, kritischer Wissenschaftler und zugleich ein talentierter Wissenschaftsjournalist. Deine Aufgabe ist es, den folgenden wissenschaftlichen Text zu analysieren und ein strukturiertes JSON-Objekt zurückzugeben. Antworte NUR mit dem JSON-Objekt und keinem weiteren Text.\n  \n  Deine Analyse soll zwei Ziele verfolgen:\n  1.  Die wissenschaftliche Belastbarkeit der Studie kritisch zu bewerten.\n  2.  Das Potenzial der Studie für die Erstellung von laienverständlichem Content zu identifizieren und vor allem von Blog Beiträgen für ein Food Supplement Portal.\n  \n  Hier sind deine Bewertungsanweisungen:\n  \n  1.  **rating (Zahl von 1-10):** Bewerte die Gesamtqualität der Studie.\n      - 10/10: Große, randomisierte, doppelblinde Humanstudie (RCT) mit signifikanten Ergebnissen, publiziert in einem Top-Journal, ohne Interessenkonflikte.\n      - 5/10: Beobachtungsstudie, kleine Stichprobe oder Tierstudie mit interessanten, aber nicht endgültigen Ergebnissen.\n      - 1/10: Methodisch sehr schwach, starke Interessenkonflikte, kaum Aussagekraft.\n  \n  2.  **confidence_score (Zahl von 0-1):** Gib an, wie sicher du dir bei deiner Bewertung bist. Ein hoher Score bedeutet, dass die Datenlage im Paper eindeutig ist. Ein niedriger Score bedeutet, dass die Studie widersprüchlich oder unklar ist.\n  \n  3.  **category (Text):** Wähle EINE der folgenden Kategorien: \"Hoch-Relevant (Content-Gold)\", \"Solide Evidenz\", \"Interessanter Ansatz\", \"Methodisch schwach\", \"Zu Nische\".\n  \n  4.  **ai_summary (Text):** Erstelle eine kurze, für Laien verständliche Zusammenfassung der Studie in 2-3 Sätzen. Was wurde getan und was kam dabei heraus?\n  \n  5.  **key_findings (Text):** Fasse die 2–3 wichtigsten Kernaussagen in einem Fließtext-Satz zusammen, ohne Aufzählung, ohne eckige Klammern und ohne JSON-Array. Trenne die Aussagen mit Kommas.\n  \n  6.  **study_strengths (Text):** Liste die 2-3 größten Stärken der Studie auf (z.B. \"Doppelblind-Design\", \"Große Teilnehmerzahl\").\n  \n  7.  **study_limitations (Text):** Liste die 2-3 größten Schwächen der Studie auf (z.B. \"Kurze Dauer\", \"Interessenkonflikt\", \"Kleine Stichprobe\").\n  \n  8.  **content_idea (Text):** Gib EINE konkrete, reißerische Titel-Idee für einen Blog-Post oder ein Video basierend auf der Studie an.\n  \n  Hier ist der zu analysierende Text:\n\"\"\"\n{{ $json.text }}\n\"\"\"\nDer Stoff für den ich Content haben will und suche ist {{ $('1. Get Raw Paper').item.json.substance }}!\n  \n  Gib deine Antwort NUR als valides JSON-Objekt aus.eser verlassen sich auf dich für präzise, verständliche und vertrauenswürdige Informationen.\n\n**Deine Kern-Mission:** Deine Mission ist es, die Spreu vom Weizen zu trennen. Du identifizierst wissenschaftlich fundierte Studien, die für unsere Leser einen echten Mehrwert bieten, und übersetzt sie in verständliche, aber niemals übertriebene Kernaussagen.\n**Deine Anti-Mission (Entscheidende Richtlinien):** Deine oberste Priorität ist die Glaubwürdigkeit des Portals. Du bist extrem allergisch gegen Hype, der auf schwacher Evidenz basiert. Du deckst Interessenkonflikte, methodische Mängel, die Verwendung von Surrogat-Endpunkten anstelle von harten klinischen Endpunkten und übertriebene Schlussfolgerungen gnadenlos auf. Eine negative, aber ehrliche Bewertung einer Studie ist wertvoller als eine unkritische, positive.\n\n### INTERNER DENKPROZESS (Schritt-für-Schritt-Analyse) ###\nBevor du das finale JSON-Objekt erstellst, folge intern diesem rigorosen Denkprozess:\n1.  **Kontext-Prüfung:** Identifiziere die untersuchte Substanz, die Dosis und die Zielgruppe der Studie. Ist dies für ein Nahrungsergänzungsmittel-Portal relevant?\n2.  **Studiendesign-Analyse:** Klassifiziere das Design (z.B. Meta-Analyse, RCT, Beobachtungsstudie, Tierstudie, In-vitro). Wie hoch ist es in der Evidenzpyramide anzusiedeln?\n3.  **Rigorositäts-Analyse:** Bewerte die methodische Qualität. Achte auf Stichprobengröße (n), Studiendauer, Kontrollgruppen, Verblindung, statistische Signifikanz (p-Werte) und die Relevanz der gemessenen Endpunkte.\n4.  **Bias-Detektion:** Überprüfe die Studie auf potenzielle Verzerrungen. Wer hat die Studie finanziert (Industrie vs. unabhängig)? Gibt es Interessenkonflikte bei den Autoren?\n5.  **Synthese & Urteilsbildung:** Fasse alle Punkte zusammen, um zu einer ausgewogenen Gesamtbewertung zu gelangen, die sowohl die wissenschaftliche Qualität als auch die Relevanz für den Endverbraucher berücksichtigt.\n\n### FINALES OUTPUT-FORMAT ###\nBasierend auf deinem internen Denkprozess, erstelle das folgende JSON-Objekt. Antworte NUR mit diesem JSON-Objekt und keinem weiteren Text.\n\n{\n  \"rating\": \"Bewerte die Gesamtqualität und Relevanz der Studie für dein Portal auf einer Skala von 1-10. Nutze die folgende Rubrik:\n    - 9-10: Wegweisende Humanstudie (großer RCT/Meta-Analyse) mit klaren, klinisch relevanten Ergebnissen und ohne Bias. Muss für Content verwendet werden.\n    - 7-8: Gut durchgeführte Humanstudie (RCT) mit statistisch signifikanten Ergebnissen, eventuell mit kleinen Limitationen. Starke Content-Basis.\n    - 5-6: Kleinere Humanstudie (Pilot), gut gemachte Beobachtungsstudie oder eine sehr relevante Tierstudie. Interessant, aber mit großer Vorsicht zu kommunizieren.\n    - 3-4: Tier- oder In-vitro-Studie mit begrenzter Relevanz für den Menschen, oder eine methodisch schwache Humanstudie. Nicht für direkten Content geeignet.\n    - 1-2: Methodisch unbrauchbar, starker Bias, oder für das Thema irrelevant.\",\n  \"confidence_score\": \"Bewerte deine eigene Sicherheit bei dieser Analyse von 0.0 bis 1.0. Ein hoher Score bedeutet, dass die Datenlage im Paper eindeutig ist. Ein niedriger Score bedeutet, die Studie ist widersprüchlich oder schlecht dokumentiert.\",\n  \"category\": \"Wähle EINE der folgenden action-orientierten Kategorien: 'Priorität 1: Content-Gold', 'Priorität 2: Solide Grundlage', 'Hypothesen-Generierung (Vorsichtig nutzen)', 'Nicht verwenden (Ungeeignet/Riskant)'\",\n  \"ai_summary\": \"Erstelle eine FÜR LAIEN VERSTÄNDLICHE Zusammenfassung (max. 3 Sätze). Beginne mit der wichtigsten Information. Beispiel: 'Eine neue Studie zeigt, dass X mg Substanz Y bei älteren Erwachsenen",
          "hasOutputParser": true,
          "needsFallback": true,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.1,
        "position": [
          -768,
          -112
        ],
        "id": "7d240dca-809f-4155-b307-4401b2a78add",
        "name": "AI rating Agent"
      },
      {
        "parameters": {
          "model": "qwen/qwen3-235b-a22b-thinking-2507",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          -672,
          400
        ],
        "id": "6a434483-5912-4691-9791-f0927bb2332a",
        "name": "OpenRouter Chat Model",
        "credentials": {
          "openRouterApi": {
            "id": "OHIIUHcJ8NlN1yHo",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $input.all().length }}",
                      "rightValue": 0,
                      "operator": {
                        "type": "number",
                        "operation": "gt"
                      },
                      "id": "9ca3c566-4222-4f04-8f7a-53905212265f"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Paper gefunden"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "5f928ef1-de1c-4891-9681-2190b23cdfab",
                      "leftValue": "={{ $input.all().length }}",
                      "rightValue": 0,
                      "operator": {
                        "type": "number",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Keine Papers gefunden"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          -1504,
          -96
        ],
        "id": "70959467-4583-4788-bec5-6c3287740abc",
        "name": "Switch"
      },
      {
        "parameters": {
          "bucketName": "paper-store",
          "fileKey": "={{ $json.pmid }}.pdf"
        },
        "type": "n8n-nodes-base.s3",
        "typeVersion": 1,
        "position": [
          -1248,
          -96
        ],
        "id": "43dc3be0-5692-4fc8-a0fb-d681a5a77c1f",
        "name": "Download a file",
        "credentials": {
          "s3": {
            "id": "lXbGUFRjp6Yya8kj",
            "name": "Strato S3 Images"
          }
        }
      },
      {
        "parameters": {
          "operation": "pdf",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          -1088,
          -96
        ],
        "id": "ae92220c-8aa9-4f09-989e-95c473ceb3d9",
        "name": "Extract from File"
      },
      {
        "parameters": {
          "jsCode": "const rawResponse = $json.output || \"\";\n\nconst jsonStart = rawResponse.indexOf('{');\nconst jsonEnd = rawResponse.lastIndexOf('}');\n\nif (jsonStart === -1 || jsonEnd === -1) {\n  throw new Error(\"Kein valides JSON-Objekt im 'output'-Feld der AI-Antwort gefunden. Antwort war: \" + rawResponse);\n}\n\nconst jsonString = rawResponse.substring(jsonStart, jsonEnd + 1);\n\nlet parsed;\ntry {\n  parsed = JSON.parse(jsonString);\n} catch (e) {\n  throw new Error(\"Fehler beim Parsen des extrahierten JSON: \" + e.message + \". Extrahierter Text war: \" + jsonString);\n}\n\n// Sonderbehandlung: key_findings ist ein JSON-String, den wir erneut parsen müssen\nif (typeof parsed.key_findings === 'string') {\n  try {\n    const tryParsed = JSON.parse(parsed.key_findings);\n    if (Array.isArray(tryParsed)) {\n      parsed.key_findings = tryParsed;\n    }\n  } catch (e) {\n    // lassen wie es ist\n  }\n}\n\n// 🔽 Bereinige störende Bullet-Characters in Textfeldern\nconst cleanBullets = text =>\n  typeof text === 'string'\n    ? text.replace(/^[\\s]*[•\\-\\*]+[\\s]*/gm, '') // entfernt Bulletpoints am Zeilenanfang\n    : text;\n\nparsed.study_strengths = cleanBullets(parsed.study_strengths);\nparsed.study_limitations = cleanBullets(parsed.study_limitations);\nparsed.ai_summary = cleanBullets(parsed.ai_summary);\nparsed.content_idea = cleanBullets(parsed.content_idea);\n\n// Optional: Wenn du willst, dass key_findings immer String bleibt (JSON-Stringified)\nif (Array.isArray(parsed.key_findings)) {\n  parsed.key_findings = JSON.stringify(parsed.key_findings);\n}\n\nreturn parsed;\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -368,
          -112
        ],
        "id": "8255b9f8-8d7a-4c58-bef9-474ebd44abd7",
        "name": "Code"
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=http://paper-backend:4242/papers/{{ $('1. Get Raw Paper').item.json.id }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "{\n    \"transfer_n8n\": true\n}",
          "options": {}
        },
        "id": "3f85dc41-4734-4ef8-8b97-a33afb2e2392",
        "name": "Mark Paper as transfered",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          64,
          -96
        ],
        "credentials": {
          "httpBearerAuth": {
            "id": "ijgx3lz1xx4Q9zxn",
            "name": "Bearer Auth account"
          },
          "httpHeaderAuth": {
            "id": "RTzRC0AggRABuRdo",
            "name": "Auth Header Paper Backend API KEY"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://paper-backend:4242/rated-papers",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"doi\": \"{{ $('1. Get Raw Paper').item.json.doi }}\",\n  \"s3_link\": \"{{ $('1. Get Raw Paper').item.json.s3_link }}\",\n  \"rating\": {{ $json.rating }},\n  \"confidence_score\": {{ $json.confidence_score }},\n  \"category\": \"{{ $json.category }}\",\n  \"ai_summary\": \"{{ $json.ai_summary }}\",\n  \"key_findings\": \"{{$json.key_findings }}\",\n  \"study_strengths\": \"{{ $json.study_strengths }}\",\n  \"study_limitations\": \"{{ $json.study_limitations }}\",\n  \"content_idea\": \"{{ $json.content_idea }}\",\n  \"content_status\": \"idee\",\n  \"processed\": false\n}",
          "options": {}
        },
        "id": "ba017d9a-0d8e-4578-8855-7e0ce055a6af",
        "name": "Füge Rating zur RatingDB hinzu",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          -144,
          -112
        ],
        "credentials": {
          "httpBearerAuth": {
            "id": "ijgx3lz1xx4Q9zxn",
            "name": "Bearer Auth account"
          },
          "httpHeaderAuth": {
            "id": "RTzRC0AggRABuRdo",
            "name": "Auth Header Paper Backend API KEY"
          }
        }
      },
      {
        "parameters": {
          "amount": 2,
          "unit": "minutes"
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -1280,
          112
        ],
        "id": "e1fa645c-40a2-4b8f-9be7-14452bd6904a",
        "name": "Wait",
        "webhookId": "8ef17b8a-a5f2-4903-957f-b6a92b2a50aa"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 15
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -1952,
          -96
        ],
        "id": "c166b2c8-7d7d-474b-9c8e-79669792c116",
        "name": "Schedule Trigger"
      }
    ],
    "pinData": {},
    "connections": {
      "1. Get Raw Paper": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI rating Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "DeepSeek Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI rating Agent",
              "type": "ai_languageModel",
              "index": 1
            }
          ]
        ]
      },
      "AI evaluation Agent": {
        "ai_tool": [
          [
            {
              "node": "AI rating Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI evaluation Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Download a file",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download a file": {
        "main": [
          [
            {
              "node": "Extract from File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract from File": {
        "main": [
          [
            {
              "node": "AI rating Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI rating Agent": {
        "main": [
          [
            {
              "node": "Code",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code": {
        "main": [
          [
            {
              "node": "Füge Rating zur RatingDB hinzu",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Füge Rating zur RatingDB hinzu": {
        "main": [
          [
            {
              "node": "Mark Paper as transfered",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mark Paper as transfered": {
        "main": [
          [
            {
              "node": "1. Get Raw Paper",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "1. Get Raw Paper",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "1. Get Raw Paper",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": true,
    "settings": {
      "executionOrder": "v1"
    },
    "versionId": "f2961358-3169-4d60-ac38-349bb12f5945",
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "e29847cb0d85386a381a01c77c5a370e3c3dcd4f4ebcacf20107c8e6e234123a"
    },
    "id": "PcGCvX2UgEhgYmXf",
    "tags": []
  }